.file-upload{
    display: inline;
    margin: 10px;
    padding: 10px;


    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, 0.37);

    border-top-left-radius: var(--mdc-shape-small, 4px);
    border-top-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-left-radius: var(--mdc-shape-small, 4px);
    padding-top: 19px;
    padding-bottom: 19px;
}

.btn{
    top:-2px;
}

