<div class="center">
    <h1>Promotions</h1>
</div>

<button class="mr pegado" mat-raised-button (click)="newPromo()" > NEW PROMOTION</button>

<div class="center">
    <button mat-button (click)="openAllPanels()">Expand All</button>
    <button mat-button (click)="closeAllPanels()">Collapse All</button>
  </div>

  <div class="center acordeon"   *ngFor="let p of promociones">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Promo Title: &nbsp;&nbsp;</p>
          <p class="descripcion">{{p.title.length>15?p.title.slice(0,15)+"...":p.title}}&nbsp;&nbsp;</p>
        </mat-panel-title>
        <mat-panel-description>
            <p>Promo Descrption: &nbsp;&nbsp;</p> 
            <p class="descripcion">{{p.description.length>15?p.description.slice(0,15)+"...":p.description}}&nbsp;&nbsp;</p>

        <mat-icon>event</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline">
        <mat-label>English Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title" [required]="true"  (focusout)="changePromo(p)">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Italian Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title_it" [required]="true"  (focusout)="changePromo(p)">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>English Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description"  (focusout)="changePromo(p)"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Italian Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description_it"  (focusout)="changePromo(p)"></textarea>
      </mat-form-field>

    <app-file-upload requiredFileType="img" fileName="{{getName(p.image)}}"  elemId="{{p.id}}" type="/api/Promo/ImgUpload/"></app-file-upload>


      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="Sdate" [required]="true" [(ngModel)]="p.dateRange.from"  (ngModelChange)="changePromo(p)">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Sdate"></mat-datepicker-toggle>
        <mat-datepicker #Sdate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="Edate" [required]="true" [(ngModel)]="p.dateRange.to"  (ngModelChange)="changePromo(p)">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Edate"></mat-datepicker-toggle>
        <mat-datepicker #Edate></mat-datepicker>
      </mat-form-field>


      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Store</mat-label>
        <mat-select [required]="true" [(ngModel)]="p.shopId"  (ngModelChange)="changePromo(p)" >
            <mat-option *ngFor="let s of stores"  [value]="s.value" >
              {{s.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Insterests</mat-label>
      <mat-select [(ngModel)]="p.iiId" (ngModelChange)="changePromo(p)" multiple>
        <mat-option *ngFor="let t of interestList" [value]="t.id">{{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>

      <button class="mat-icon-color" mat-icon-button (click)="deletePromo(p)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
   
  </mat-accordion>
  </div>