<h1 mat-dialog-title class="center">Store Opening Hours</h1>

<div mat-dialog-content class="center">
  <p class="center" style="font-size: 10px;"><em>* All hours have a 24h format.</em></p>

  <ul class="lista">
    <li>
        <span class="dia">Monday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[0].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[0].to" (ngModelChange)="change(data)">
        </mat-form-field>
    </li>
    <li>
        <span class="dia">Tuesday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[1].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[1].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
      <li>
        <span class="dia">Wednesday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[2].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[2].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
      <li>
        <span class="dia">Thursday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[3].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[3].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
      <li>
        <span class="dia">Friday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[4].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[4].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
      <li>
        <span class="dia">Saturday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[5].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[5].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
      <li>
        <span class="dia">Sunday:</span>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Open</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[6].from" (ngModelChange)="change(data)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="dia-inicio-fin">
        <mat-label>Close</mat-label>
        <input matInput type="time" [required]="true" [(ngModel)]="data[6].to" (ngModelChange)="change(data)">
        </mat-form-field>
      </li>
  </ul>
  <button mat-stroked-button class="close" (click)="closeDialog()">Close</button>

</div>

