<div class="center">
    <h1>Opening Hours</h1>
</div>

<!-- GENERAL -->
<div class="center">
    <h2>General Rule</h2>

    <div class="center acordeon" >
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>Opening Hours </p>
            </mat-panel-title>
            <mat-panel-description>
                <p> Set the general opening hours &nbsp;&nbsp; </p> 
                <mat-icon>access_time</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

    <h3>Open at :</h3>
        <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Global</mat-label>
          <input matInput type="time" [(ngModel)]="general.global.from" name="global" (ngModelChange)="changeGeneral(general)">
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Food Court</mat-label>
            <input matInput type="time" [(ngModel)]="general.food.from" name="food" (ngModelChange)="changeGeneral(general)">
        </mat-form-field>

          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Hipermarket</mat-label>
            <input matInput type="time" [(ngModel)]="general.hypermarket.from" name="market" (ngModelChange)="changeGeneral(general)">
        </mat-form-field>

          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Our Stores</mat-label>
            <input matInput type="time" [(ngModel)]="general.ourStores.from" name="stores" (ngModelChange)="changeGeneral(general)">
        </mat-form-field>
      </div>
      <div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Food Start Day</mat-label>
        <mat-select [required]="true" [(ngModel)]="general.food.fromWeekDay" (ngModelChange)="changeGeneral(general)" >
            <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
              {{dia.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Market Start Day</mat-label>
      <mat-select [required]="true" [(ngModel)]="general.hypermarket.fromWeekDay" (ngModelChange)="changeGeneral(general)" >
          <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
            {{dia.viewValue}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline" class="example-full-width">
    <mat-label>Stores Start Day</mat-label>
    <mat-select [required]="true" [(ngModel)]="general.ourStores.fromWeekDay" (ngModelChange)="changeGeneral(general)" >
        <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
          {{dia.viewValue}}
        </mat-option>
      </mat-select>
</mat-form-field>

</div>

    <h3>Close at :</h3>
    <div>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Global</mat-label>
            <input matInput type="time" [(ngModel)]="general.global.to" name="global" (ngModelChange)="changeGeneral(general)">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Food Court</mat-label>
              <input matInput type="time" [(ngModel)]="general.food.to" name="food" (ngModelChange)="changeGeneral(general)">
          </mat-form-field>
  
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Hipermarket</mat-label>
              <input matInput type="time" [(ngModel)]="general.hypermarket.to" name="market" (ngModelChange)="changeGeneral(general)">
          </mat-form-field>
  
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Our Stores</mat-label>
              <input matInput type="time" [(ngModel)]="general.ourStores.to" name="stores" (ngModelChange)="changeGeneral(general)">
          </mat-form-field>
        </div>
        <div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Food End Day</mat-label>
        <mat-select [required]="true" [(ngModel)]="general.food.toWeekDay" (ngModelChange)="changeGeneral(general)" >
            <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
              {{dia.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Market End Day</mat-label>
      <mat-select [required]="true" [(ngModel)]="general.hypermarket.toWeekDay" (ngModelChange)="changeGeneral(general)" >
          <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
            {{dia.viewValue}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline" class="example-full-width">
    <mat-label>Stores End Day</mat-label>
    <mat-select [required]="true" [(ngModel)]="general.ourStores.toWeekDay" (ngModelChange)="changeGeneral(general)" >
        <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
          {{dia.viewValue}}
        </mat-option>
      </mat-select>
</mat-form-field>
</div>
  </mat-expansion-panel>
   
</mat-accordion>
</div>
</div>


<!-- SPECIAL RULES-->
<div class="center">
    <h2>Special Rule</h2>

    <div class="center acordeon" *ngFor="let hora of horasEspeciales" >
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>Special Rule Day: &nbsp;</p>
              <p>{{showDate(hora.dateRange.from)}} - {{showDate(hora.dateRange.to)}}</p>
            </mat-panel-title>
            <mat-panel-description>
                <p> Set the special opening hours</p>
                <mat-icon>event</mat-icon>

            </mat-panel-description>
          </mat-expansion-panel-header>

    <div>
      <mat-form-field  appearance="outline" class="example-full-width" >
        <mat-label>Opening Date</mat-label>
        <input matInput [matDatepicker]="Odate" [required]="true" [(ngModel)]="hora.dateRange.from" (ngModelChange)="changeException(hora)" >
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Odate"></mat-datepicker-toggle>
        <mat-datepicker #Odate></mat-datepicker>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Closing Date (Optional)</mat-label>
        <input matInput [matDatepicker]="Cdate" [(ngModel)]="hora.dateRange.to" (ngModelChange)="changeException(hora)">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Cdate"></mat-datepicker-toggle>
        <mat-datepicker #Cdate></mat-datepicker>
    </mat-form-field>
    <h3>Open at :</h3>
    <form class="hours-form">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Global</mat-label>
          <input matInput type="time" [(ngModel)]="hora.global.from" name="global" (ngModelChange)="changeException(hora)">
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Food Court</mat-label>
            <input matInput type="time" [(ngModel)]="hora.food.from" name="food" (ngModelChange)="changeException(hora)">
        </mat-form-field>

          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Hipermarket</mat-label>
            <input matInput type="time" [(ngModel)]="hora.hypermarket.from" name="market" (ngModelChange)="changeException(hora)">
        </mat-form-field>

          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Our Stores</mat-label>
            <input matInput type="time" [(ngModel)]="hora.ourStores.from" name="stores" (ngModelChange)="changeException(hora)">
        </mat-form-field>
    </form>
    <div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Food Start Day</mat-label>
        <mat-select [required]="true" [(ngModel)]="hora.food.fromWeekDay" (ngModelChange)="changeException(hora)" >
            <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
              {{dia.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Market Start Day</mat-label>
      <mat-select [required]="true" [(ngModel)]="hora.hypermarket.fromWeekDay" (ngModelChange)="changeException(hora)" >
          <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
            {{dia.viewValue}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline" class="example-full-width">
    <mat-label>Stores Start Day</mat-label>
    <mat-select [required]="true" [(ngModel)]="hora.ourStores.fromWeekDay" (ngModelChange)="changeException(hora)" >
        <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
          {{dia.viewValue}}
        </mat-option>
      </mat-select>
</mat-form-field>

</div>
    <h3>Close at :</h3>
    <form class="hours-form">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Global</mat-label>
            <input matInput type="time" [(ngModel)]="hora.global.to" name="global" (ngModelChange)="changeException(hora)">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Food Court</mat-label>
              <input matInput type="time" [(ngModel)]="hora.food.to" name="food" (ngModelChange)="changeException(hora)">
          </mat-form-field>
  
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Hipermarket</mat-label>
              <input matInput type="time" [(ngModel)]="hora.hypermarket.to" name="market" (ngModelChange)="changeException(hora)">
          </mat-form-field>
  
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Our Stores</mat-label>
              <input matInput type="time" [(ngModel)]="hora.ourStores.to" name="stores" (ngModelChange)="changeException(hora)">
          </mat-form-field>

    </form>

    <div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Food End Day</mat-label>
        <mat-select [required]="true" [(ngModel)]="hora.food.toWeekDay" (ngModelChange)="changeException(hora)" >
            <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
              {{dia.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Market End Day</mat-label>
      <mat-select [required]="true" [(ngModel)]="hora.hypermarket.toWeekDay" (ngModelChange)="changeException(hora)" >
          <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
            {{dia.viewValue}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline" class="example-full-width">
    <mat-label>Stores End Day</mat-label>
    <mat-select [required]="true" [(ngModel)]="hora.ourStores.toWeekDay" (ngModelChange)="changeException(hora)" >
        <mat-option *ngFor="let dia of dias"  [value]="dia.value" >
          {{dia.viewValue}}
        </mat-option>
      </mat-select>
</mat-form-field>
</div>
        <!--<mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Type</mat-label>
            <mat-select [required]="true" [(ngModel)]="hora.tipo" (ngModelChange)="onChange(hora)" >
                <mat-option *ngFor="let tipo of tipos"  [value]="tipo.value" >
                  {{tipo.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="outline" class="example-full-width" >
            <mat-label>Opening Date</mat-label>
            <input matInput [matDatepicker]="Odate" [required]="true" [(ngModel)]="hora.diaInicio" (ngModelChange)="onChange(hora)" >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="Odate"></mat-datepicker-toggle>
            <mat-datepicker #Odate></mat-datepicker>
        </mat-form-field>
        <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Closing Date (Optional)</mat-label>
            <input matInput [matDatepicker]="Cdate" [(ngModel)]="hora.diaFin" (ngModelChange)="onChange(hora)">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="Cdate"></mat-datepicker-toggle>
            <mat-datepicker #Cdate></mat-datepicker>
        </mat-form-field>
        <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Opening Time</mat-label>
            <input matInput type="time" [required]="true" [(ngModel)]="hora.horaInicio" (ngModelChange)="onChange(hora)">
        </mat-form-field>
        <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Closing Time</mat-label>
            <input matInput type="time" [required]="true" [(ngModel)]="hora.horaFin" (ngModelChange)="onChange(hora)">
        </mat-form-field> -->
        <button class="mat-icon-color" mat-icon-button (click)="deleteRule(hora)" >
            <mat-icon>delete</mat-icon>
          </button>
          
    </div>
  </mat-expansion-panel>
   
  </mat-accordion>

  </div>
  <div class="rules">
    <button class="mr" mat-raised-button (click)="newRule()"> NEW RULE</button>
    <!--<button mat-raised-button (click)="saveRules()"> SAVE ALL</button>-->
  </div>

  <!-- CATEGORY-->
<div class="categorias">
  <div class="center cat">
    <h2>Category</h2>

    <div class="center acordeon" *ngFor="let cat of category" >
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>Category: &nbsp;</p>
              <p class="descripcion">{{cat.title}}</p>
            </mat-panel-title>
            <mat-panel-description>
                <p> Create or edit category </p> 
            </mat-panel-description>
          </mat-expansion-panel-header>

    <div>
       
        <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" [required]="true" [(ngModel)]="cat.title" (ngModelChange)="changeCat(cat)">
        </mat-form-field>
        <button class="mat-icon-color" mat-icon-button (click)="deleteCat(cat)" >
            <mat-icon>delete</mat-icon>
          </button>
          
    </div>
  </mat-expansion-panel>
   
  </mat-accordion>

  </div>
  <div class="rules">
    <button class="mr" mat-raised-button (click)="newCat()"> NEW CATEGORY</button>
  </div>
  </div>
  <!-- -->

    <!-- SUBCATEGORY-->

    <div class="center cat">
      <h2>Subcategory</h2>
  
      <div class="center acordeon" *ngFor="let sub of subcategory" >
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Subcategory: &nbsp;</p>
                <p class="descripcion">{{sub.title}}</p>
              </mat-panel-title>
              <mat-panel-description>
                  <p> Create or edit subcategory</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
  
      <div>
          <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Title</mat-label>
              <input matInput type="text" [required]="true" [(ngModel)]="sub.title" (ngModelChange)="changeSubCat(sub)">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="sub.categoryId" (ngModelChange)="changeSubCat(sub)">
              <mat-option *ngFor="let t of catList" [value]="t.id" [title]="t.title">{{t.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="mat-icon-color" mat-icon-button (click)="deleteSub(sub)" >
              <mat-icon>delete</mat-icon>
            </button>
            
      </div>
    </mat-expansion-panel>
     
    </mat-accordion>
  
    </div>
    
    <div class="rules">
      <button class="mr" mat-raised-button (click)="newSub()"> NEW SUBCAT</button>
    </div>
    </div>


    <div class="center cat">
      <h2>Interests</h2>
  
      <div class="center acordeon" *ngFor="let sub of interest" >
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Interest: &nbsp;</p>
                <p class="descripcion">{{sub.name}}</p>
              </mat-panel-title>
              <mat-panel-description>
                  <p> Create or edit interest</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
  
      <div>
          <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label>Title</mat-label>
              <input matInput type="text" [required]="true" [(ngModel)]="sub.name" (ngModelChange)="changeInterest(sub)">
          </mat-form-field>
          <button class="mat-icon-color" mat-icon-button (click)="deleteInterest(sub)" >
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select [(ngModel)]="sub.group" (ngModelChange)="changeInterest(sub)">
              <mat-option *ngFor="let t of group" [value]="t.id">{{t.title}}</mat-option>
            </mat-select>
          </mat-form-field>
            
      </div>
    </mat-expansion-panel>
     
    </mat-accordion>
  
    </div>
    
    <div class="rules">
      <button class="mr" mat-raised-button (click)="newInterest()"> NEW INTEREST</button>
    </div>
    </div>

    </div>
    <!-- -->

</div>