<div class="center">
    <h1>Events</h1>
</div>

<button class="mr pegado" mat-raised-button (click)="newEvent()" > NEW EVENT</button>

<div class="center">
    <button mat-button (click)="openAllPanels()">Expand All</button>
    <button mat-button (click)="closeAllPanels()">Collapse All</button>
  </div>

  <div class="center acordeon"   *ngFor="let p of events">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Event Title: &nbsp;&nbsp;</p>
          <p class="descripcion">{{p.title}}</p>
        </mat-panel-title>
        <mat-panel-description>
            <p>Event Descrption:&nbsp;&nbsp;</p> 
            <p class="descripcion">{{p.description}} &nbsp;&nbsp;</p>
        <mat-icon>event</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title" [required]="true">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description"></textarea>
      </mat-form-field>



      <app-file-upload requiredFileType="img" fileName="Upload Event image" ></app-file-upload>


      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="Sdate" [required]="true" [(ngModel)]="p.dateRange.from">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Sdate"></mat-datepicker-toggle>
        <mat-datepicker #Sdate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="Edate" [required]="true" [(ngModel)]="p.dateRange.to">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Edate"></mat-datepicker-toggle>
        <mat-datepicker #Edate></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Insterest</mat-label>
        <mat-select [(ngModel)]="p.iiId" (ngModelChange)="changeEvent(p)" multiple>
          <mat-option *ngFor="let t of interestList" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="mat-icon-color" mat-icon-button (click)="deleteEvent(p)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
   
  </mat-accordion>
  </div>