<div class="center">
    <h1>Stores</h1>
</div>

<button class="mr pegado" mat-raised-button (click)="newEvent()" > NEW STORE</button>

<div class="center">
    <button mat-button (click)="openAllPanels()">Expand All</button>
    <button mat-button (click)="closeAllPanels()">Collapse All</button>
  </div>

  <div class="center acordeon"   *ngFor="let p of stores">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Store Name: &nbsp;&nbsp;</p>
          <p class="descripcion">{{p.title}}&nbsp;&nbsp;</p>
        </mat-panel-title>
        <mat-panel-description>
        <mat-icon>store</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title" [required]="true" (ngModelChange)="changeStore(p)">
      </mat-form-field>
  
      <!--<mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select [formControl]="types" multiple [(ngModel)]="p.type">
          <mat-select-trigger>
            {{types.value?.[0] || ''}}
            <span *ngIf="(types.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(types.value?.length || 0) - 1}} {{types.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let t of typesList" [value]="t">{{t}}</mat-option>
        </mat-select>
      </mat-form-field>-->
      

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="p.categoryId" (ngModelChange)="changeStore(p)">
          <mat-option *ngFor="let t of catList" [value]="t.id" [title]="t.title">{{t.title}}</mat-option>
        </mat-select>
      </mat-form-field>


      
      <mat-form-field appearance="outline">
        <mat-label>Subcategory</mat-label>
        <mat-select [(ngModel)]="p.subcategoryId" (ngModelChange)="changeStore(p)">
          <mat-option *ngFor="let t of subList" [value]="t.id">{{t.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Insterest</mat-label>
        <mat-select [(ngModel)]="p.iiId" (ngModelChange)="changeStore(p)" multiple>
          <mat-option *ngFor="let t of interestList" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <app-file-upload requiredFileType="logo" fileName="{{getName(p.logo)}}"  elemId="{{p.id}}" type="/Shop/LogoUpload/" tipo="0"></app-file-upload>

      <app-file-upload requiredFileType="img" fileName="{{getName(p.photo)}}"  elemId="{{p.id}}" type="/Shop/ImgUpload/" tipo="1"></app-file-upload>

      
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" [(ngModel)]="p.phoneNumber" (ngModelChange)="changeStore(p)">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description" (ngModelChange)="changeStore(p)"></textarea>
      </mat-form-field>

      <mat-form-field  appearance="outline" class="example-full-width" >
        <mat-label>First Opening Date</mat-label>
        <input matInput [matDatepicker]="Odate" [required]="true" [(ngModel)]="p.firstOpeningDay" (ngModelChange)="changeStore(p)" >
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="Odate"></mat-datepicker-toggle>
        <mat-datepicker #Odate></mat-datepicker>
    </mat-form-field>

      <button mat-stroked-button (click)="openDialog(p)">Opening Hours</button>

      <button class="mat-icon-color" mat-icon-button (click)="deleteStore(p)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
   
  </mat-accordion>
  </div>