.acordeon{
    width: 80%;
    margin: 0 auto;
}

.descripcion{
    max-width: 80%;
    max-height: 20px;
    word-break: break-all;

}

.pegado{
    position: fixed;
}

mat-form-field{
    padding: 5px;
}

.hcheck{
    height: 20px;
    position: relative;
    width: 40px;
    top: 5px;
    left:8px;
}

.hdiv{
    display: inline-grid;
    bottom: 15px;
    position: relative;
    margin: 15px;
}