<div class="center">
    <h1>Blog</h1>
</div>


<button class="mr pegado" mat-raised-button (click)="newEntry()" >NEW ENTRY</button>

<div class="center">
    <button mat-button (click)="openAllPanels()">Expand All</button>
    <button mat-button (click)="closeAllPanels()">Collapse All</button>
  </div>

  <div class="center acordeon"   *ngFor="let p of blog">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Blog Entry: &nbsp;&nbsp;</p>
          <p class="descripcion">{{p.title.length>15?p.title.slice(0,15)+"...":p.title}}&nbsp;&nbsp;</p>
        </mat-panel-title>
        <mat-panel-description>
            <p>Short Description:&nbsp;&nbsp;</p> 
            <p class="descripcion">{{p.shortDescription!.length<15?p.shortDescription:p.shortDescription!.slice(0,15)+"..."}}&nbsp;&nbsp;</p>

            <mat-icon>note_add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline">
        <mat-label>English Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title" [required]="true" (focusout)="changeBlog(p)">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Italian Title</mat-label>
        <input matInput type="text" [(ngModel)]="p.title_it" [required]="true" (focusout)="changeBlog(p)">
      </mat-form-field>
      <app-file-upload requiredFileType="logo" fileName="{{getName(p.thumb)}}"  elemId="{{p.id}}" type="/api/Blog/ThumbUpload/" tipo="0"></app-file-upload>     
      <app-file-upload requiredFileType="img" fileName="{{getName(p.image)}}" elemId="{{p.id}}" type="/api/Blog/ImgUpload/" tipo="1"></app-file-upload>


  
      <mat-form-field appearance="outline">
        <mat-label>English Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description" (focusout)="changeBlog(p)"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Italian Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.description_it" (focusout)="changeBlog(p)"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>English Short Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.shortDescription" (focusout)="changeBlog(p)"></textarea>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Italian Short Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" [(ngModel)]="p.shortDescription_it" (focusout)="changeBlog(p)"></textarea>
      </mat-form-field>

      <div class="hdiv">
      <mat-label>Highlight</mat-label>
      <input type="checkbox" class="hcheck" [(ngModel)]="p.highlight" (ngModelChange)="changeBlog(p)">
      </div>
      <button class="mat-icon-color" mat-icon-button (click)="deleteEntry(p)" >
        <mat-icon>delete</mat-icon>
      </button>
      <button class="mat-icon-color" mat-icon-button (click)="saveBlog(p)" >
        <mat-icon>save</mat-icon>
      </button>
      </mat-expansion-panel>

  </mat-accordion>
  </div>
